<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PoemTranslator</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <form id="input" action="http://localhost:5000/result" method="post">
        Poem:<br>
        <textarea class="input" name="raw_input">{{original}}</textarea><br>
        Times to Translate:<br>
        <input type="text" name="num_iterations"><br>
        <input type="submit" value="Submit"><br>
    </form>

    <div id="result">
        <label id="poem">
        {% for line in poem %}
            {{ line }}<br>
        {% endfor %}
        </label>
    </div>
</body>
</html>